@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font1:"CircularStd";
$font2: "NueBold";
$lightgreen:#7ef792;

.progressive{
    margin:0;
    padding:  0 ;
    width: 100%;
    height: 100%;

    .innercontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
        padding-left: 3%;
        padding-top: 15%;
        color: black;
        background-color: $lightgreen;
        @include md {
            height: 50vh;
            padding-top: 20%;
        }
        @include sm {
            height: 50vh;
            padding-top: 40%;
        }

        a{
            text-decoration: none;
            color: white;
            font-family: $font1;
        }
        .mediumlink{
            text-decoration: underline;
            line-height: 1;
        }

        h1 {
             font-family: $font2;
             text-transform: uppercase; 
             font-size: 3rem;
             color :white;
             @include md {
                 font-size: 2.8rem;
             }
             @include sm {
                 font-size: 2.4rem;
             }
        }
        p{
            font-size: 1rem;
            margin-top: -2px;
            color: white;
            font-family: $font1;
            @include md {
                font-size: 0.9rem;
            }
            @include sm {
                padding-top: 10px;
                font-size: 0.8rem;
            }
           

        }
       

    }
    .grid1{
        display: flex;
        flex-direction: row;
        font-family: $font1;
        margin-top: -14%;
        @include md {
            margin-top: 1%;
        }
        @include sm {
            flex-direction: column;
            display: flex;
        }
        
        .left{
            
            width: 50%;
            padding-left: 3%;
            padding-top: 20%;  
            @include md {
                padding-top: 5%;
            }
            @include sm {
                width: 80%;
                align-items: center;
                margin: 0 auto;

            }
            h1{
                font-size: 2.2rem;
                @include md {
                    font-size: 1.5rem;
                }
                @include sm {
                    font-size: 1rem;
                }
            }
            p{
                font-size: 1.3rem;
                @include md {
                    font-size: 1rem;
                }
                @include sm {
                    font-size: 0.7rem;
                }
            }
        }
        .right{
            width: 50%;
            padding-left: 10%;
            img{

                @include md {
                    width: 300px;
                    height: 300px;
                }

            }
             
          
           

        }
        h1{
    
        }
    }
    .grid2{
        display: flex;
        flex-direction: row;
        font-family: $font1;
        @include md {
            padding-top: 10%;
        }
        @include sm {
            flex-direction: column;
            display: flex;
        }
        
        .left{
            padding-left: 3%;
            width: 50%;
            text-align: justify;
            @include sm {
                width: 80%;
                align-items: center;
                margin: 0 auto;
                

            }
              
            h1{
                font-size: 2.2rem;
                @include md {
                    font-size: 1.5rem;
                }
                @include sm {
                    font-size: 1rem;
                }
            }
            p{
                font-size: 1.3rem;
                @include md {
                    font-size: 1rem;
                }
                @include sm {
                    font-size: 0.7rem;
                }
            }
        }
        .right{
            
            width: 30%;
            @include sm {
                padding-left: 15%;
            }
            
            img{
                height: 400px;
                width: 600px;
                @include lg {
                    width: 400px;
                    height: 350px;
                }
                @include md {
                    width: 300px;
                    height: 200px;
                }
            }

        }
        h1{
    
        }
    }
    .grid3{
        display: flex;
        flex-direction: row;
        font-family: $font1;
        padding-top: 10%;
        padding-bottom: 10%;
        @include sm {
            flex-direction: column;
            display: flex;
        }
        
        .left{
            padding-left: 3%;
            width: 50%;
            text-align: justify;
            @include sm {
                width: 80%;
                align-items: center;
                margin: 0 auto;
               

            }
              
            h1{
                font-size: 2.2rem;
                @include md {
                    font-size: 1.5rem;

                }
                @include sm {
                    font-size: 1rem;
                }
            }
            p{
                font-size: 1.3rem;
                @include md {
                    font-size: 1rem;
                    
                }
                @include sm {
                    font-size: 0.7rem;
                }
            }
        }
        .right{
            
            width: 30%;
            padding-left: 5%;
            
            img{
                height: 400px;
                width: 500px;
                @include md {
                    width: 380px;
                    height: 300px;
                }
               
            }

        }
        h1{
    
        }
    }

    .section1{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        background-color: white;
        align-items: center;
        text-align: center;
        margin:  0 auto;
        
        line-height: 1.5;
        padding-top: 10%;
        padding-bottom: 10%;
        h1{
            font-size: 2rem;
            @include txl {
                font-size: 1.5rem;
            }
            @include lg {
                font-size: 1.2rem;
            }
            @include md {
                font-size: 1rem;
            }
            @include sm {
                font-size: 0.7rem;
            }
        }
        
        @include md {
            padding-top: 10%;
        }
        @include sm {
            padding-top: 15%;
        }

           
    
            
     }
    
    


}