@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font1:"CircularStd";
$font2: "NueBold";
$lightgreen:#7ef792;

.stories{
    margin:0;
    padding:  0 ;
    width: 100%;
    height: 100%;

    .innercontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
        padding-left: 3%;
        padding-top: 10%;
        color: black;
        background-color: $lightgreen;
        @include md {
            height: 50vh;
            padding-top: 20%;
        }
        @include sm {
            height: 50vh;
            padding-top: 40%;
        }

        a{
            text-decoration: none;
            color: white;
            font-family: $font1;
        }
        .mediumlink{
            text-decoration: underline;
            line-height: 1;
        }

        h1 {
             font-family: $font2;
             text-transform: uppercase; 
             font-size: 3rem;
             color :white;
             @include md {
                 font-size: 2.8rem;
             }
             @include sm {
                 font-size: 2.4rem;
             }
        }
        p{
            font-size: 1rem;
            margin-top: -2px;
            color: white;
            font-family: $font1;
            @include md {
                font-size: 0.9rem;
            }
            @include sm {
                padding-top: 10px;
                font-size: 0.8rem;
            }
           

        }
       
    }
    .section1{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        
        background-color: white;
        align-items: center;
        width: 100%;
        line-height: 1.5;
        padding-bottom: 10%;
   
        padding-left: 2%;
        @include md {
            padding-top: 10%;
        }
        @include sm {
            padding-top: 15%;
        }
        h1{
            font-weight: 400;
            padding-top: 5%;
            @include md {
                font-size: 1.7rem;
            }
            @include sm {
                display: flex;
                
                text-align: center;
                font-size: 1.5rem;
        
            }
           

        }
        p{
            text-align: justify;
            width: 45%;
            color: #9a9a9a;
            @include md {
                width: 60%;
                font-size: 0.9rem;
            }
            @include sm {
                max-width: 80%;
                padding-top: 10%;
                font-size: 0.8rem;
            }
            
        }
        
            
        }
        .med_link{
            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            transition: all 0.5s;
            padding-right: 38.5%;
            @include lg {
                padding-right: 35%;
            }
            @include md {
                padding-right: 47%;
            }
            @include sm {
                font-size: 15px;
                padding-right: 42%;
            }
            @include xsm {
                font-size: 15px;
                padding-right: 40%;
            }
            @include xm {
                font-size: 15px;
                padding-right: 36%;
            }
            &:hover{
                color:#27cc53;
                transition: all 0.5s;
            }
        }
    


}