@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font1:"CircularStd";
$font2: "NueBold";
$lightyellow:#ffce80;

.trace{
    margin:0;
    padding:  0 ;
    width: 100%;
    height: 100%;

    .innercontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
        padding-left: 3%;
        padding-top: 10%;
        color: white;
        background-color: $lightyellow;
        @include txl {
            height: 280px;
        }
        @include md {
            height: 280px;
            padding-top: 20%;
        }
        @include sm {
            height: 250px;
            padding-top: 40%;
        }
        


        h1 {
             font-family: $font2;
             text-transform: uppercase; 
             font-size: 3rem;
             width: 100%;
        
             @include md {
                 font-size: 2.8rem;
             }
             @include sm {
                 font-size: 2.4rem;
             }
        }
        p{
            font-size: 1rem;
            margin-top: -2px;
        
            font-family: $font1;
            @include md {
                font-size: 0.9rem;
            }
            @include sm {
                padding-top: 10px;
                font-size: 0.8rem;
            }
            a{
                text-decoration: none;
                color:white;
            }

        }
        
    }

    .section1{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
        h1{
            padding-top: 10%;
            width: 60%;
            @include md {
                font-size: 1.2rem;
            }
            @include sm {
                font-size: 1rem;
                width: 70%;
            }
            @include xm {
                font-size: 0.8rem;
            }
           
        }
        
        .grid1{
            flex-direction: row;
            display: flex;
            margin: 0 auto;
            padding-left: 18%;
            padding-top: 5%;
        
            h1{
                padding-top: 10%;
                color:#9a9a9a;
                @include lg {
                    font-size: 1.5rem;
                }
                @include md {
                    font-size: 1rem;
                    padding-top: 12%;
                }
                @include sm {
                    font-size: 0.8rem;
                    margin-left: -10%;
                }
            }
            img{
                width: 30%;
                height: 30%;
            }
            .qr3
            {
                width: 20%;
                height: 20%;
                padding-left: 3%;
                @include xsm {
                    margin-right: 8%;
                    padding-top: 6%;
                }
                @include xm {
                    margin-right: 7%;
                    padding-top: 6%;
                }
            }
        }
    }

}