@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font1:"CircularStd";
$font2: "NueBold";
$lightpurple:#ce97f7;

.zero{
    margin:0;
    padding:  0 ;
    width: 100%;
    height: 100%;

    .innercontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
        padding-left: 3%;
        padding-top: 15%;
        color: black;
        background-color: $lightpurple;
        @include md {
            height: 50vh;
            padding-top: 20%;
        }
        @include sm {
            height: 50vh;
            padding-top: 40%;
        }

        h1 {
             font-family: $font2;
             text-transform: uppercase; 
             font-size: 3rem;
             color :white;
             @include md {
                 font-size: 2.8rem;
             }
             @include sm {
                 font-size: 2.4rem;
             }
        }
        p{
            font-size: 1rem;
            margin-top: -2px;
            color: white;
            font-family: $font1;
            @include md {
                font-size: 0.9rem;
            }
            @include sm {
                padding-top: 10px;
                font-size: 0.8rem;
            }
            a{
                text-decoration: none;
                color: white;
            }

        }
       

    }

}