@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font2: 'Circular Black';
$font1: 'CircularStd';

$font3: 'NueBold';
$lightblack : #363c4c ;

$lightgrey : #e3e3e3;


.hero{
    height: 100%;
    display: flex;
    margin-left: 3%;
    flex-direction: row;
    margin-top: 7%;
    padding-bottom: 30px;
    width: 100%;
    @include lg {
        margin-top:15%;
        margin-left: 4%;
        width: 96%;
    }
    @include sm {
        height: 70vh;
    }
    .heroLeft{
        font-family:$font3 ;
        
        
        width: 800px;
        height: 500px;
        text-transform: uppercase;
        text-align: justify;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        @include md {
            padding-top: 50px;
        }
        @include sm {
            margin-top: 30%;
            text-align: center;
          
        }
        h1{
            font-size: 3.2rem;
            @include lg {
                font-size: 2.6rem;
                width: 350px;
            }
            @include md {
                font-size: 2rem;
                width: 285px;
            }
            @include sm {
                width: 100%;
                font-size: 1.5rem;
            }
            @include xm {
                width: 100%;
                font-size: 1.6rem;
            }
        }

        p{
            font-size: 1.2rem;
            text-transform: none;
            font-family: $font1;
            text-align: left;
            margin-top: 6%;
            width: 60%;
            @include lg {
                font-size: 1rem;
                width: 80%;
            }
           
            @include sm {
                text-align: justify;
                width: 80%;
                padding-left: 30px;
            }
        }
        #break::before{
            content: "\a";
            white-space: pre;
        }
        p::after{
            content: "\a";
            white-space: pre;
        }
       

        
        
    }

    .heroRight{
        display: flex;

        background-image: url('../../images/box1.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: -5%;
        width: 715px;
        height: 630px;
        @include md {
            margin-left: -30%;
        }
        @include sm {
            margin-left: 2%;
            position: absolute;
            margin-top: 10%;
            opacity: 0.5;
            z-index: -1;
            width: 90%;
            height: 90%;
        }
        
    }
}