@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
$lightgrey :#9c9c9c;
$font1:'NueBold';
$font2 :'CircularStd';
$lightblack : #000;


.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 60vh;
    background-color: $lightblack;
    @include txl {
        width: 100%;
        height: 50vh;
        
    }
    @include lg {
        height: 400px;
     
    }
    @include md {
        height: 60vh;
        width: 103% !important;
        overflow-x: hidden;

 
    }
    @include sm {
        height: 100%;
        width: 103%;
        flex-direction: column;
    }

   

    .section1 {
        margin-left: 3%;
        margin-top: 1.9%;
        width: 8%;
        height: 8%;
        @include txl {
            margin-left:5%;
        }
        @include lg {
            width: 10%;
            height: 10%;
            margin-top: 3%;
        }
        h1{
            color: white;
        }
        @include sm {
            width: 18%;
            height: 18%;
        }
    }

    .section2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-top: 3.8%;
        height: 40vh;
        width: 30%;
        @include lg {
            margin-top: 6% ;
        }
        @include md {
            position: relative;
            margin-top: 15%;
            margin-left: -10%;
        }
        @include sm {
            margin-left: 6%;
            margin-top: 4%;
        }
        h1{
            color:$lightgrey;
            font-family: $font1;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }
        a{
            padding-top: 25px;
            font-family: $font2;
            text-decoration: none;
            cursor: pointer;
            color:white;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }
    }
    .section3{
        display: flex;
        flex-direction: column;
        margin-left: -14%;
        margin-top: 3.9%;
        height: 40vh;
        width: 30%;
        @include lg {
            margin-top: 6% ;
        }
        @include md {
            position: relative;
            margin-top: 15%;
            margin-left:-10%;
        }
        @include sm {
            margin-left: 6%;
            margin-top: -8%;
        }
        @include xsm{
            margin-top: -10%;
        }
        h1{
            color:$lightgrey;
            font-family: $font1;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }
        a{
            padding-top: 25px;
            font-family: $font2;
            text-decoration: none;
            cursor: pointer;
            color:white;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }

    }
    .section4{
        display: flex;
        flex-direction: column;
        margin-left: -14%;
        margin-top: 4%;
        height: 40vh;
        width: 30%;
        @include lg {
            margin-top: 6% ;
        }
        @include md {
            position: relative;
            margin-top: 15%;
            margin-left: -10%;
        }
        @include sm {
            margin-left: 6%;
            margin-top: -4%;
            width: 90%;
        }
        @include xsm {
            margin-top: -10%;
        }
        h1{
            color:$lightgrey;
            font-family: $font1;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }
        a{
            padding-top: 25px;
            font-family: $font2;
            text-decoration: none;
            cursor: pointer;
            color:white;
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }

    }
    .social{
        display: flex;
        flex-direction: column;
        margin-left: -14%;
        margin-top: 4.1%;
        width: 30%;
        @include lg {
            margin-top: 6% ;
        }
        @include md {
            position: relative;
            margin-top: 15%;
            margin-left: -10%;
        }
        @include sm {
            margin-left: 6%;
            margin-top: 6%;
        }
       
        h1{
            color:$lightgrey;
            font-family: $font1;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            @include lg {
                font-size: 14px;
            }
            @include lg {
                font-size: 14px;
            }
            @include xsm {
                font-size: 12px;
            }
        }
        .links{
            display: flex;
            flex-direction: row;
            margin-left: -3%;
            @include sm {
                margin-left: -10%;
                
            }
        }
        a{
            padding-top: 35px;
            font-size: 2.5rem;
            padding-left: 10px;
            font-family: $font2;
            text-decoration: none;
            cursor: pointer;
            color:white;
            @include lg {
                font-size: 1.8rem;
            }
            @include sm {
                padding-top: 10px;
            }
            @include xsm{
                font-size: 1.4rem;
            }
        }
    }
}
