@import "../abstracts/mixins.scss";
@import "../abstracts/variables.scss";
@import "../../assets/Fonts/fonts.css";
$grey1: #141414;
$lightgrey : #e3e3e3;
$font1: 'NueBold';
$font2:'CircularStd';

.grid{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    @include txl{
        padding-left: 4%;
        margin-top: -20%;
    }
    @include lg {
        padding-left: 1%;
        margin-top: -15%;
    }
    @include md {
        position:relative;
        margin-top: -20%;
    }
    @media (height: 1024px)
  {
    margin-top: -40%;
  }
    @include sm {
        margin-top: 15%;
    }
    @include xsm {
        margin-top: 5%;
    }

   

    .section1{
        display: flex;
        flex-direction: row;
        margin-top: 2.1%;
        
        @include sm {
            flex-direction: column;
            margin-top: 3.1%;
        }
           
            .row1{
               
                width:54%;
                height: 75vh;
                text-decoration: none;
                background-image: url('../../images/pfm.png');
                background-size: cover;
                transition: all 0.5s;
                background-position: center;
                  cursor: pointer;
                  transition: all 0.5s;
                  -webkit-transition: all .5s;
                  -moz-transition: all .5s;
                  -o-transition: all .5s;

                  &:hover{
                    opacity: 0.7;
                    transition: all 0.5s;
                  }
                  @include txl{
                      height: 55vh;
                  }
                  @include lg {
                      height: 50vh;
                  }
                  @include md {
                      height: 285px;
                  }
                  @include sm {
                      height: 30vh;
                      width: 96%;
                  }
                h1{
                    font-size: 1.5rem;
                    font-family: $font1;
                    text-transform: uppercase;
                    padding-left:30px;
                    padding-top: 15px;
                    color: white;
                }
            }
            

        
      
        .row2{
            width: 40%;
            text-decoration:none;
            height: 75vh;
            transition: all 0.5s;
            margin-left: 2.1%;
            background-image: url('../../images/trace.png');
            background-size: cover;
            background-position: center;
            &:hover{
                opacity: 0.7;
                transition: all 0.5s;
              }
            @include txl{
                height: 55vh;
            }
            @include lg {
                height: 50vh;
            }
            @include md {
                height: 285px;
            }
            @include sm {
                height: 30vh;
                width: 96%;
                margin-top: 3.1%;
                margin-left: 0%;
            }
            
            h1{
                font-size: 1.5rem;
                font-family: $font1;
                text-transform: uppercase;
                padding-left:30px;
                padding-top: 15px;
                color: white;
            }
        }
    }

    .section2{
        display: flex;
        flex-direction: row;
        margin-top: 2.1%;
        @include sm {
            flex-direction: column;
            margin-top: 3.1%;
        }
        
        .row3{
            width: 40%;
            background-image: url('../../images/zerowaste.png');
            background-size: cover;
            height: 75vh;
            transition: all 0.5s;
            text-decoration:none;
            &:hover{
                opacity: 0.7;
                transition: all 0.5s;
              }
            @include txl{
                height: 55vh;
            }
            @include lg {
                height: 50vh;
            }
            @include md {
                height: 285px;
            }
            @include sm {
                height: 30vh;
                width: 96%;
               
                margin-left: 0%;
            }
            h1{
                font-size: 1.5rem;
                font-family: $font1;
                text-transform: uppercase;
                padding-left:30px;
                padding-top: 15px;
                color: white;
                z-index: 5;
            }
          

        }
        .row4{
            width:54%;
            background-image: url('../../images/farmer.png');
            background-size: cover;
            background-position: center;
            text-decoration: none;
            transition: all 0.5s;
            height: 75vh;
            &:hover{
                opacity: 0.7;
                transition: all 0.5s;
              }
            margin-left: 2.1%;
            @include txl{
                height: 55vh;
            }
            @include lg {
                height: 50vh;
            }
            @include md {
                height: 285px;
            }
            @include sm {
                height: 30vh;
                width: 96%;
                margin-top: 3.1%;
                margin-left: 0%;
            }
            h1{
                font-size: 1.5rem;
                font-family: $font1;
                text-transform: uppercase;
                padding-left:30px;
                padding-top: 15px;
                color: white;
                z-index: 5;
            }
        }
    }

   
    
}