@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
@import "../../assets/Fonts/fonts.css";
$orange1:#eb6e34;
$font3: "CircularStd";


.harvest1{

    @include md {
        font-size: 22px;
    }
    @include sm{
        font-size: 20px;
    }
}
.hform{
    
        .form_harvest{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:  0 auto;

            .row1{
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                font-size: 14px;
            }

            .row2{
                display: flex;
                flex-direction: column;
                font-size: 14px;
            }

            .avatar {
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
            
            label{
                padding-top: 15px;
            }

            select{
                border:none;
                width: 272px;
                border : 2px solid $orange1;
                border-radius: 5px;
                padding: 10px 10px 10px 10px;
                margin-top: 5px;
                outline: none;
                
            }
            select, input {
                    &:focus {
                        border-color: black;
                    }
            }
            input{
                border:none;
                width: 250px;
                border : 2px solid $orange1;
                border-radius: 5px;
                padding: 10px 10px 10px 10px;
                margin-top: 5px;
                outline: none;
            }

            button{
                font-family: $font3;
                font-size: 1.2rem;
                border: none;
                padding: 10px 50px 10px 50px;
                border-radius: 4px;
                margin-top: 15%;
                transition: all 0.1s;
                cursor: pointer;
                outline: none;
                background-color: #eb6e34;
                color: white;
    
                &:hover{
                    background-color: #f79669;
                    transition: all 0.5s;
                }
                &:disabled {
                    background-color: grey;
                }
    
            }
        }
}