@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
@import "../../assets/Fonts/fonts.css";

$font1: 'NueBold';
$green1:#3DDC84;


.header{
    display: flex;
    align-items: center;
    
  


    .nav{
        display: flex;
        position: fixed;
        width: 100%;
        background-color:rgba($color: #fff, $alpha: 0.7);
        
        padding-left: 2.9%;
        padding-top: 5%;
        z-index: 10;
        @include lg 
        {
            padding-top: 8%;
        }
        @include sm {
            padding-top: 15%;
           

        }


        
    
    }
    
        .logo{
            width: 18%;
            height: 18%;
             
            @include md {
                width: 16%;
                height: 16%;
            }
            @include sm {
                width: 20%;
                height: 20%;
            }
        }

    .navlink{
        padding-left: 55%;
        padding-top: 2%;
        z-index: 10;
        width: 100%;
        
        @include txl {
            padding-left: 54%;
            
        }
        @include lg {
            padding-left: 48%;
           
        }
        @include md {
            padding-left: 35%;
            
        }
        @include sm {
            display: none;
        }
        
        a{
            text-decoration: none;
            padding-left: 20px;
            color: black;
            font-family: $font1;
            text-transform: uppercase;
            font-size: 18px;
            mix-blend-mode: difference;
            @include lg {
                font-size: 14px;
            }
            @include md {
                font-size: 12px;
            }
            
        }

    }
   

    .menuIcon{
        width: 20px;
        display: none;
        @include sm{
            display: block;
            margin-top: 5.9%;
            padding-left: 65%;
        }
        @include xsm {
            padding-left: 64%;
        }
        @include xm {
            margin-top: 5.5%;

        }
        span{
            margin-bottom: 0.3rem;
            height: 2px;
            width: 100%;
            background-color: black;
            display: block;
            @include xm {
                height: 1.5px;
                width: 90%;
            }
        }
        
    }

    

}

