@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
@import "../../assets/Fonts/fonts.css";

$font1: 'NueBold';
$green1:#3DDC84;


.header{
    display: flex;
    align-items: center;
    
  


    .nav{
        display: flex;
        position: fixed;
        width: 100%;
        background-color:rgba($color: #fff, $alpha: 0.7);
        
        padding-left: 2.9%;
        padding-top: 8%;
        z-index: 10;
        @include lg 
        {
            padding-top: 12%;
        }
        @include sm {
            padding-top: 15%;
        }
        
    
    }
    
        .logo{
            width: 8%;
            height: 8%;
            @include lg {
                width: 12%;
                height: 12%;
            }
            @include md {
                width: 14%;
                height: 14%;
            }
            @include sm {
                width: 20%;
                height: 20%;
            }
        }

    .navlink{
        margin-left: 50%;
        margin-top: 2%;
        z-index: 10;
        @include txl {
            margin-left: 50%;
            
        }
        @include lg {
            margin-left: 38%;
            margin-top: 3%;
        }
        @include md {
            margin-left: 29%;
            margin-top: 3.5%;
        }
        @include sm {
            display: none;
        }
        a{
            text-decoration: none;
            padding-left: 20px;
            color: black;
            font-family: $font1;
            text-transform: uppercase;
            font-size: 18px;
            mix-blend-mode: difference;
            @include lg {
                font-size: 14px;
            }
            @include md {
                font-size: 12px;
            }
            
        }

    }
    .buttons{
        margin-top: 1.5%;
        margin-left: 3%;
        @include lg {
            margin-top: 2.3%;
        }
        @include md {
            margin-top: 3.2%;
        }
        @include sm {
            margin-left: 48%;
            margin-top: 4%;
        }
        @include xsm {
            margin-top: 3.6%;
        }
        
        .android
        {
            font-size: 25px;
            color: $green1;
            @include md {
                font-size: 17px;
            }
            @include sm {
                font-size: 22px;
            }
            @include xm{
                font-size: 17px;
            }
           
        }
        .apple{
            font-size: 30px;
            color: black;
            padding-left: 10px;
            @include md {
                font-size: 20px;
            }
            @include sm {
                font-size: 28px;
            }
            @include xm {
                font-size: 22px;
            }
        }
    }  

    .menuIcon{
        width: 20px;
        display: none;
        @include sm{
            display: block;
            margin-top: 5.9%;
            margin-left: 6%;
        }
        @include xsm {
            margin-left: 4%;
        }
        @include xm {
            margin-top: 5.5%;
        }
        span{
            margin-bottom: 0.3rem;
            height: 2px;
            width: 100%;
            background-color: black;
            display: block;
            @include xm {
                height: 1.5px;
                width: 90%;
            }
        }
        
    }

    

}

