@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
@import "../../assets/Fonts/fonts.css";

$font1: 'NueBold';
$green1:#3DDC84;
$offwhite: #f5f5f5;

.header{
    display: flex;
    align-items: center;
    
  


    .nav{
        display: flex;
        position: fixed;
        width: 100%;
        background-color:rgba($color: #fff, $alpha: 0.7);
        
        padding-left: 2.9%;
        padding-top: 5%;
        z-index: 20;
        @include lg 
        {
            padding-top: 8%;
        }
        @include sm {
            padding-top: 15%;
           

        }

    
    
    
        .logo{
            width: 8%;
            height: 8%;
             
            @include md {
                width: 10%;
                height: 10%;
            }
            @include sm {
                width: 20%;
                height: 20%;
            }
        }
        .menu{

            display: flex;
      justify-content: space-between;
      align-items: center;  
      padding-left: 50%;
      @include lg {
          padding-left: 40%;
      }
      @include md {
          padding-left: 35%;
      }
        }
        .show{
            transform: translateX(0%) !important;
            @include sm {
                transform: translateX(0%)  !important;
            }
        }
       

    .navlink{
        padding-left: 70%;
        padding-top: 2%;
        z-index: 10;
        display: flex;
    
        transition: transform 250msms;
        width: 100%;
        
        @include txl {
            padding-left: 64%;
            
        }
        
        @include md {
            padding-left: 60%;
        }
        @include sm {   
            position: absolute;
            top: 0;
            right: 0;
            align-items: flex-start;
            align-self: flex-start;
            width: calc(80% - 60%);
            height: calc(100vh - 20%);
            padding: 20%;
            padding-top: 25%;
            padding-bottom: 0;
            background-color: $offwhite;
            flex-direction: column;
            transform: translateX(100%);
            transition: all 250ms ease-in-out;
            z-index: 99;
           
            
          
        }
       
    
        
        
        a{
            text-decoration: none;
            margin-right: 20px;
            color: black;
            font-family: $font1;
            text-transform: uppercase;
            font-size: 18px;
            white-space: nowrap;
            
            @include lg {
                font-size: 14px;
            }
            @include md {
                font-size: 12px;
            }
            @include sm {
                z-index: 10;
                margin-top: 8%;
                font-size: 14px;
                padding-top: 30%;
                margin-right: 20px;
            }
            @include xsm {
                padding-top: 35%;
                margin-left: -10%;
            }
            
        }

    }
    
   

    .menuIcon{
        width: 20px;
        display: none;
    
        @include sm{
            display: block;
            position: absolute;
           
            padding-left: 5%;
            margin-left: 25%;
            cursor: pointer;
            z-index: 100;
            &::after {
              outline: none;
            }
        }
       
        span{
            margin-bottom: 0.3rem;
            height: 2px;
            width: 100%;
            background-color: black;
            display: block;
            @include xm {
                height: 1.5px;
                width: 100%;
            }
        }
        
    }
}
    

}

