@import '../abstracts/_mixins.scss';
@import '../abstracts/variables.scss';

$lightblack: #363c4c;
$font: 'NueBold';

.header {
  background: white;
  
}
nav {
  display: flex;
  height: 80px;
  z-index: 10;
  padding: 0.5rem calc((100vw - 1400px) / 2);
  position: fixed;
  background:rgba(255,255,255,0.6);
  width: 100%;
  @include lg {
    margin-top: -1%;
  }
  @include xsm {
    margin-top: -2%;
  }
}
.nav-logo {
  height: 90px;
  width: 160px;
  display: flex;
  outline: none;

  @include lg {
    left: 2rem;
    position: absolute;
  }
  &::before {
    outline: none;
  }
  &::after {
    outline: none;
  }
}
