@import "../../assets/Fonts/fonts.css";
@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";

$font1:"CircularStd";
$font2: "NueBold";
$lightblue: #d1d8de;

.journey{
    margin: 0 ;
    padding:  0 ;
    width: 100%;
    height: 100%;
    

    .innercontent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vh;
        padding-left: 3%;
        padding-top: 15%;
        color: black;
        background-color: $lightblue;

        h1 {
             font-family: $font2;
             text-transform: uppercase; 
             font-size: 3rem;
             color :white
        }
        p{
            font-size: 1rem;
            margin-top: -2px;
            color: white;
            font-family: $font1;
        }
        .play_btn{
            margin-top: 3px;
        }

    }

    .section1{
        font-family: $font1;
        display: flex;
        flex-direction: column;
        
        background-color: white;
        align-items: center;
        width: 100%;
        height: 70vh;
        padding-left: 3%;
        h1{
            font-weight: 400;
            padding-top: 5%;
           

        }
        p{
            text-align: justify;
            max-width: 45%;
            color: #9a9a9a;
        }
    }
}