@import "../abstracts/_mixins.scss";
@import "../abstracts/variables.scss";
.style{
    width: 94%;
  margin: 3%;
  height: calc(100vh - 80px);
  @include txl {
      margin-left: 7%;
      width: 90%;
      height: 60vh;
  }
  @include lg {
      margin-left: 5%;
      height: 40vh;
      
  }
  @include md {
      height: 40vh;
  }
  @include sm {
      height: 25vh;
  }
  @include xsm {
      height: 25vh;
  }
}